*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

$main-font: "Raleway", sans-serif;
$background-gradient-color: linear-gradient(90deg, rgb(3, 2, 0) 17%, rgb(15, 15, 15) 100%);
$text-color: #e6dfdb;
$hover-text-color: #8b8b8b;
$secondary-color: #7de2d1;
$third-gradient-color: linear-gradient(130deg, #010202, #041f1b);
$accent-color: #00ffd5;
$gold-color: #e4c200;

body {
	background: $background-gradient-color;
	background-attachment: fixed;
	color: $text-color;
	font-family: $main-font;
}

.section-label {
	position: absolute;
	top: 0;
	right: 50%;
	color: $secondary-color;
	transform: translateX(50%);
}
