@use "../../global" as *;
@use "../../mixins" as *;

.technologies {
	position: relative;
	&__items-list {
	}
	&__technology-item {
		display: flex;
		list-style: none;
	}
	h3 {
		position: relative;
		color: $text-color;
		transition: 0.3s;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			margin: 0 auto;
			width: 100%;
			height: 3px;
			background-color: $secondary-color;
			transform: translateX(-50%);
		}
	}
	ul {
		padding-left: 0;
	}
	.gold,
	.languages-color {
		color: $gold-color;
	}
	.white {
		color: $text-color;
	}
}
